@tailwind base;

@tailwind components;

@tailwind utilities;


.bg-accent {
    background: rgba(33, 33, 33, .95);
}

.bg-accent-850 {
    background: rgba(33, 33, 33, .85);
}


.bg-accent-800 {
    background: rgba(21, 145, 149, .8);
}


.bg-accent-700 {
    background: rgba(21, 145, 149, .7);
}


.bg-accent-600 {
    background: rgba(21, 145, 149, .6);
}

.bg-primary {
    background-color: #159195;
}

.bg-primary-900 {
    background: rgba(21, 145, 149, .9);
}

.bg-primary-800{
    background: rgba(21, 145, 149, .8);
}

.bg-primary-700 {
    background: rgba(21, 145, 149, .75);
}

.bg-primary-600 {
    background: rgba(21, 145, 149, .6);
}

.text-primary {
    color: rgba(21, 145, 149, .90);
}

.text-primary-850{
    color: rgba(21, 145, 149, .85);
}

.text-primary-700 {
    color: rgba(21, 145, 149, .7);
}

.text-primary-600 {
    color: rgba(21, 145, 149, .6);
}

.text-accent {
    color: rgba(33, 33, 33, .95);
}

.text-accent-900 {
    color: rgba(33, 33, 33, .9);
}

.text-accent-800 {
    color: rgba(33, 33, 33, .85);
}

.text-accent-700 {
    color: rgba(33, 33, 33, .7);
}

.text-accent-600 {
    color: rgba(33, 33, 33, .6);
}

.bg-body {
    background: #F8F8F8;
}

.border-primary {
    border-color: #159195;
}

input:focus, trix-editor:focus  {
    border-color: #159195;
    background-color: white;
}

input, select, trix-editor {
    @apply p-2 w-full outline-none border-gray-400 border-2 rounded-lg text-accent-800 my-1;
}

trix-editor {
    min-height: 200px;
    @apply p-2;
}

.trix-container ol, trix-editor ul  {
    list-style-type: decimal;

}

.trix-container *::before, trix-editor *::before  {
    content: unset;
}

.trix-container ul, trix-editor ul  {
    list-style-type: circle;
}

.trix-button::before {
    content: "";
}

input[type="checkbox"] {
    padding: unset;
    width: unset;
    border:unset;
    margin: unset;
}

.link {
    text-decoration: underline;
    text-decoration-color: #159195;
    color: #159195;
}

.link.no-underline {
    text-decoration: none;
}

.padded-underline {
    text-underline-position: under;
}

.link:hover {
    @apply text-primary-600;
    text-decoration-color: rgba(21, 145, 149, .6);
}

.link.accent {
    color: #212121;
    text-decoration-color:#212121;
}

.link.accent:hover {
    @apply text-accent-600;
    text-decoration-color: rgba(33, 33, 33, .6)
}

label.file-label:hover {
    color: #137578;
}

.primary-button {
    @apply bg-primary text-white rounded-md
}

button.primary-button:hover {
    @apply bg-primary-900
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 600px) {
    .centered {
        position: unset;
        top: unset;
        left: unset;
        -ms-transform: unset;
        -webkit-transform: unset;
        transform: unset;
        width: 100%;
    }
}

.accent-button{
    @apply bg-accent
}

.accent-button:hover {
    @apply bg-accent-850
}

main.job-content a {
    @apply text-primary;
    text-decoration-color: #212121;
}

main.job-content ul {
    list-style-type: disc;
}

main.job-content ol {
    list-style-type: decimal;
}
